*{
    margin: 0;
    padding: 0;
    font-family: 'Anybody';
    box-sizing: border-box;
    font-family: 'source sans pro';
    color: white;
    background-color: black;
    
}
nav{
    height: 50px;
    color: white;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding-inline:200px;
    background-color: rgb(51, 40, 40);
    z-index: 1;
    position: relative;
}
nav a{
   
    background-color: rgb(51, 40, 40);
}
nav img{
    background-color: rgb(51, 40, 40);
    height: 20px;
    width: 20px;

}

#iphonebar{
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding-inline: 50px;
    margin-top: 10px;
    border-bottom: 0.01px solid rgb(195, 183, 183) ;
    margin-inline:auto ;
}
#iphone-text{
    font-size: 30px;
    font-weight: 400;
}
#buy-button{
    background-color: #2727c3;
    color: white;
    border-radius: 10px;
    border: none;
    height: 20px;
    width: 35px;


}
header{
    width: 100vw;
}



#iphonepic{
    object-fit:cover;
    width: 100%;
}
.header{
    text-align: center;
    font-family: 'poppins';
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}
header h1{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
header a{
    color: rgb(115, 115, 213);
    margin-right: 10px;
    text-decoration: none;
    letter-spacing: 0.1px;
    font-size: 17px;
    font-weight: 600;
    padding-left: 10px;

}
header a:hover{
    text-decoration: underline;
}

header p{
    margin-bottom: 10px;
    font-size: 25px;
    background-color: rgb(51, 40, 40);
}
header img{
    margin-top: 65px;
}
#section1 video{
    height: 100%;
    width: 100%;
}
nav img:hover{
    background-color: grey;
}